BODY {FONT-SIZE: 12px; BACKGROUND: #ddd; MARGIN: 0px; COLOR: #16387c; FONT-FAMILY: ËÎÌו,Tahoma; HEIGHT: 100%;}
IMG {BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px;}
FORM {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px;}
A:link {COLOR: #16387c; TEXT-DECORATION: none;}
A:visited {COLOR: #16387c; TEXT-DECORATION: none;}
A:hover {COLOR: #f80; TEXT-DECORATION: underline;}
A.oYbt:link {COLOR: #583a00;}
A.oYbt:visited {COLOR: #583a00;}
A.oYbt:hover {COLOR: #f80;}
A.oYbt:active {COLOR: #583a00;}
A.oMba:link {COLOR: #420;}
A.oMba:visited {COLOR: #420;}
A.oMba:hover {COLOR: #420;}
A.oMba:active {COLOR: #420;}
.padding {PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px;}
.float_R {FLOAT: right;}
.InputButtonL {BACKGROUND: url(B1.gif) repeat-x; WIDTH: 124px;}
.InputButtonT {BACKGROUND: url(B3.gif) repeat-x; WIDTH: 65px;}
.InputButtonB {BACKGROUND: url(B2.gif) repeat-x; WIDTH: 47px;}
.InputButtonK {BACKGROUND: url(B4.gif) repeat-x; WIDTH: 36px;}
.InputButtonP {BACKGROUND: url(B8.gif) repeat-x; WIDTH: 84px;}
.InputComment {FONT-SIZE: 12px; COLOR: #16387c; HEIGHT: 55px;}
.InputButtonL, .InputButtonP, .InputButtonK, .InputButtonB, .InputButtonT {BORDER-RIGHT: 0px double; BORDER-TOP: 0px double; FONT-SIZE: 12px; BORDER-LEFT: 0px double; COLOR: #16387c; PADDING-TOP: 2px; BORDER-BOTTOM: 0px double; HEIGHT: 19px;}
.InputTextBox {PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; HEIGHT: 14px;}
.hand, .oTbl_I, .oTbr_I, .oYb1_i, .oYb2_i, .oTm1, .oTm2 {CURSOR: pointer;}
#Bg:unknown,#BgS:unknown, .B:unknown, .Y:unknown, #Main:unknown, #R:unknown, .K:unknown, .tR:unknown, .tL:unknown, .oYb3:unknown, .Bp:unknown, .Zm:unknown, .oPlay:unknown {CLEAR: both; DISPLAY: block; VISIBILITY: hidden; WORD-BREAK: break-all; LINE-HEIGHT: 150%; HEIGHT: 0px; content: '.';}
.Bgi {BACKGROUND-IMAGE: url(bg.gif); WIDTH: 948px; HEIGHT: 91px;}
.Logo {WIDTH: 210px;}
.Tc {WIDTH: 549px;}
.AD {WIDTH: 189px;}
.Logo, .Tc, .AD {HEIGHT: 67px;}
.TcT {HEIGHT: 45px; TEXT-ALIGN: right;}
.M6 {BACKGROUND: url(M6.gif) no-repeat;}
.M7 {BACKGROUND: url(M7.gif) no-repeat;}
.M8 {BACKGROUND: url(M8.gif) no-repeat;}
.M9 {BACKGROUND: url(M9.gif) no-repeat;}
.M6, .M7, .M8, .M9{WIDTH: 90px; LINE-HEIGHT: 29px; HEIGHT: 29px; TEXT-ALIGN: center;}
#TT {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(TT.gif); PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px; HEIGHT: 25px; TEXT-ALIGN: center;}
#TT UL {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none;}
#TT LI {PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: auto; PADDING-TOP: 1px;}
#TT LI A {PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; COLOR: #fff; LINE-HEIGHT: 23px; PADDING-TOP: 1px; TEXT-DECORATION: none;}
#TT LI A:hover {PADDING-RIGHT: 2px; BACKGROUND-POSITION: center 50%; PADDING-LEFT: 2px; BACKGROUND-IMAGE: url(M4.gif); PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 1px; BACKGROUND-REPEAT: repeat-x; TEXT-DECORATION: none;}
#TT #TTS A {BACKGROUND-POSITION: center 50%; BACKGROUND-IMAGE: url(M5.gif); COLOR: #000; BACKGROUND-REPEAT: repeat-x; TEXT-DECORATION: none;}
.TTii {WIDTH: 190px; HEIGHT: 24px;}
#Menu {FONT-WEIGHT: bold; WIDTH: 100%; HEIGHT: 22px; TEXT-ALIGN: center;}
#Menu UL {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none;}
#Menu LI {FLOAT: left; WIDTH: 60px;}
#Menu LI A {PADDING-RIGHT: 1px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(M2.gif) no-repeat; PADDING-BOTTOM: 0px; WIDTH: 60px; COLOR: #000; LINE-HEIGHT: 19px; PADDING-TOP: 3px; TEXT-DECORATION: none;}
#Menu LI A:hover {PADDING-RIGHT: 1px; PADDING-LEFT: 0px; BACKGROUND: url(M3.gif) no-repeat; PADDING-BOTTOM: 0px; COLOR: #000; LINE-HEIGHT: 19px; PADDING-TOP: 3px; TEXT-DECORATION: none;}
#Menu #MenuP A {BACKGROUND: url(M1.gif) no-repeat; COLOR: #fff;}
#Bg {WIDTH: 960px;}
#BgS {WIDTH: 950px;}
#Bg, #BgS, #Play {BACKGROUND: #fff; MARGIN: 0px auto; HEIGHT: 100%;}
.K {WIDTH: 100%; BACKGROUND-COLOR: #fff;}
.B {MARGIN: 5px 5px 0px 0px; HEIGHT: 100%;}
.C {MARGIN: 5px 0px 0px; HEIGHT: 67px;}
.D {BORDER-RIGHT: #91a7b4 1px solid; MARGIN: 0px; BORDER-LEFT: #91a7b4 1px solid; WIDTH: 948px; BORDER-BOTTOM: #91a7b4 1px solid; HEIGHT: 92px;}
.Y {BORDER-RIGHT: #b9b08c 1px solid; BORDER-TOP: #b9b08c 1px solid; MARGIN: 5px 0px 0px; BORDER-LEFT: #b9b08c 1px solid; BORDER-BOTTOM: #b9b08c 1px solid;}
.Cen {WIDTH: 183px; TEXT-ALIGN: center;}
.tL, .K, .tR, .Toptitle, .tS, .tH, .Top, .tP, #L, #R, .oSxl2, .oHs, .oHu, .oPn, .oPm, .TopL, .oTxcl, .Topno1, .TopNI, .oTxcT, .oHt, .oHd, .oTbl, .TopYZ, .Pmusic, .oYb1, .oT2p, .oT2t, .oT3t, .oT4t, .oT3p, .oT1p, .InputT, .Sp, .oP, .oPic, .oSi, .oHl, .oHg, .oTb2l, .oHts, .Logo, .Tc, .oYb4, .oI, .Y, .wZ, .wZg, .oHsing, .oHting, .oHsingt, .oBb, .Zma, .Zmc, .Zmb, .oSjl, .oSxl, .oSj, .oTx, .oTxk, .oTxks, .oTxs, .oTxs1, .oTxs2, .oTxs3, .oLp, .oLi, .oLb, .oLy, .oMp, .oMu, .oMy, .oMyl, .oTm, .pl, .oTb3l , .Zm, .Zmc, .Zmb, .Zms{FLOAT: left;}


.oTxkr, .oTbr, .oHr, .oTb2r, .AD, #TT, .M6, .ZJS, .M7, .M8, .M9, .oYb5, .wZg, .oHsingp, .TopMenus, .oTxcr, .TopPic, .Zmt, .TopMenu, .oSjr, .oSxr, .oTx1, .oTx2, .oTx3, .oTx4, .oTx5, .oMb, .oMyr, .pr, .prword, .oTb3r{FLOAT: right;}
.B, .C, .oPic, .oTxp, .Tplay, .pl, .pr, .prword, .Bp, .Bpp, .InputTextBox, .SelectTextBox, .InputComment, .oSpic, .oLp, .oMp, .ADplay, #er{BORDER-RIGHT: #91a7b4 1px solid; BORDER-TOP: #91a7b4 1px solid; BORDER-LEFT: #91a7b4 1px solid; BORDER-BOTTOM: #91a7b4 1px solid;}
.Login, .Top100 {BACKGROUND: #E8F7FF; HEIGHT: 25px;}
.InputT {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; LINE-HEIGHT: 22px; PADDING-TOP: 0px;}
.wZg {BACKGROUND-IMAGE: url(oT.gif); WIDTH: 728px; LINE-HEIGHT: 25px; FONT-FAMILY: Tahoma; HEIGHT: 25px;}
.wZ {BACKGROUND-IMAGE: url(wZ.gif);}
.oT2t {WIDTH: 182px; LINE-HEIGHT: 25px;}
.oT3t {BORDER-LEFT: #91a7b4 1px solid; WIDTH: 100px; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-ALIGN: center;}
.oT4t{MARGIN: 0px 0px 0px 5px; WIDTH: 529px; LINE-HEIGHT: 25px; HEIGHT: 25px;}
.Sp{BACKGROUND-IMAGE: url(sp.gif);}
.oT1p{BACKGROUND-IMAGE: url(oT1p.gif);}
.oT2p{BACKGROUND-IMAGE: url(oT2p.gif);}
.oT3p{BACKGROUND-IMAGE: url(oT3p.gif); MARGIN: 0px 2px 0px 0px; WIDTH: 32px; HEIGHT: 25px;}
.Sp{WIDTH: 30px; HEIGHT: 25px;}
.oT1p{WIDTH: 30px; HEIGHT: 25px;}
.oT2p{WIDTH: 30px; HEIGHT: 25px;}
.wZ{WIDTH: 30px; HEIGHT: 25px;}
.oHp{PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px;}
.tL{WIDTH: 219px;}
.tR{WIDTH: 546px;}
.tS{WIDTH: 255px;}
.ZJS{WIDTH: 510px;}
.oSt{LINE-HEIGHT: 25px; TEXT-ALIGN: center;}
.tH{WIDTH: 383px; HEIGHT: auto;}
.tP{WIDTH: 382px;}
.StP{WIDTH: 758px;}
#L{WIDTH: 765px;}
#A{WIDTH: 955px;}
#R{WIDTH: 185px;}
.oT{PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(oT.gif); PADDING-BOTTOM: 7px; MARGIN: 0px; PADDING-TOP: 7px;}
.oT2{BACKGROUND-IMAGE: url(oT.gif); HEIGHT: 25px;}
.oT, .FontB, .oTbl_I, .oY, .oT2t, .oT3t, .oT4t, .oSb, .oSt, .Zma, .oTx, .Toptitle, .TopMenus, .Top100{FONT-WEIGHT: bold;}
.oH, .oHn, .oHp, .oHts, .oHsing, .oHting{BACKGROUND-IMAGE: url(oH.gif); MARGIN: 0px; HEIGHT: 24px;}
.oHn, .oYb3_i, .oZn{DISPLAY: none;}
.oHs{WIDTH: 21px; HEIGHT: 24px;}
.oHt{WIDTH: 157px; HEIGHT: 24px;}
.oHts{WIDTH: 187px;}
.oHd{WIDTH: 65px; TEXT-ALIGN: center;}
.oHl{WIDTH: 134px; HEIGHT: 24px;}
.oHr{WIDTH: 124px;}
.oHu{WIDTH: 103px; HEIGHT: 24px;}
.oHs, .oHt, .oHd, .oHl, .oHr, .oHg, .oHu, .oHts, .oHsingt, .oPm, .oPn, .oYbt, .oTxt, .oHp, .oLit{OVERFLOW: hidden; LINE-HEIGHT: 24px; TEXT-OVERFLOW: ellipsis;}
.oYb1_i, .oYb2_i{OVERFLOW: hidden; LINE-HEIGHT: 18px; HEIGHT: 18px; TEXT-OVERFLOW: ellipsis;}
.oB{PADDING-RIGHT: 4px; PADDING-LEFT: 0px; BACKGROUND: #f1f5f6; PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-TOP: 4px; HEIGHT: 24px; TEXT-ALIGN: right;}
.oBb{BACKGROUND: #f1f5f6; WIDTH: 212px; LINE-HEIGHT: 28px; HEIGHT: 28px; TEXT-ALIGN: right;}
.oTb{BACKGROUND: #91a7b4; HEIGHT: 25px;}
.oTbl, .oTbr{WIDTH: 123px; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-ALIGN: center;}
.Top{BORDER-LEFT: #91a7b4 1px solid; WIDTH: 60px; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-ALIGN: center;}
.oTb2l, .oTb2r{WIDTH: 187px; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-ALIGN: center;}
.oTb3l, .oTb3r{WIDTH: 149px; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-ALIGN: center;}
.oTbl{}
.oTbr{}
.oTbl_I{BACKGROUND-IMAGE: url(oTbl.gif); COLOR: #359c00; HEIGHT: 25px;}
.oTbr_I{BACKGROUND-IMAGE: url(oTbr.gif); HEIGHT: 25px;}
.oTm1{BACKGROUND-IMAGE: url(oTbl.gif); COLOR: #359c00; HEIGHT: 25px;}
.oTm2{BACKGROUND-IMAGE: url(oT.gif); HEIGHT: 25px;}
.Fgd{MARGIN: 5px; OVERFLOW: hidden; LINE-HEIGHT: 19px; HEIGHT: 19px;}
.Fg{BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 93px; LINE-HEIGHT: 19px; PADDING-TOP: 0px; HEIGHT: 19px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px;}
.oZ{PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 188px;}
.oZn{PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 188px;}
.oP{MARGIN: 10px 0px; WIDTH: 173px; HEIGHT: 74px;}
.oP1{MARGIN: 10px; HEIGHT: 72px;}
.oP2{MARGIN: 10px; HEIGHT: 85px;}
.oPic{MARGIN: 0px 7px 0px 0px; WIDTH: 72px; HEIGHT: 72px;}
.oPic IMG{MARGIN: 1px;}
.oPm{WIDTH: 90px; HEIGHT: 24px;}
.oPn{WIDTH: 147px; LINE-HEIGHT: 21px; HEIGHT: 21px;}
.oS{BACKGROUND: #f1f5f6; HEIGHT: 45px;}
.oSi{BACKGROUND-IMAGE: url(oS.gif); WIDTH: 57px; HEIGHT: 45px;}
.oSb{LINE-HEIGHT: 22px;}
.oHg{WIDTH: 20%; LINE-HEIGHT: 23px; TEXT-ALIGN: center;}
.oHk{HEIGHT: 24px;}
.Bot{BACKGROUND-IMAGE: url(Bot.gif); HEIGHT: 67px; TEXT-ALIGN: center;}
.oY{COLOR: #583a00;}
.oYb1, .oYb2, .oYb3, .oYb4, .oYb5{COLOR: #583a00;}
.oY{PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: #fff2d0; PADDING-BOTTOM: 0px; WIDTH: 163px; LINE-HEIGHT: 25px; PADDING-TOP: 0px;}
.oYb{BACKGROUND: #b9b08c; HEIGHT: 19px;}
.oYb1{MARGIN: 1px 1px 0px 0px; WIDTH: 44px; LINE-HEIGHT: 18px; HEIGHT: 18px; TEXT-ALIGN: center;}
.oYb1_i{BACKGROUND-IMAGE: url(oY1.gif);}
.oYb2_i{BACKGROUND-IMAGE: url(oY2.gif);}
.oYb3, .oYb3_i{PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 100%;}
.oYbt{LINE-HEIGHT: 23px; HEIGHT: 23px;}
.oI{BORDER-RIGHT: #583a00 1px solid; BORDER-TOP: #583a00 1px solid; MARGIN: 5px; BORDER-LEFT: #583a00 1px solid; WIDTH: 72px; BORDER-BOTTOM: #583a00 1px solid; HEIGHT: 72px;}
.oI IMG{MARGIN: 1px;}
.oYb4, .oYb5{MARGIN: 1px 0px 0px; WIDTH: 91px; LINE-HEIGHT: 18px; HEIGHT: 18px; TEXT-ALIGN: center;}
.oYb4{BACKGROUND-IMAGE: url(oY1.gif);}
.oYb5{BACKGROUND-IMAGE: url(oY2.gif);}
.oHsing{OVERFLOW: hidden; WIDTH: 50%; TEXT-INDENT: 2px; LINE-HEIGHT: 24px; TEXT-ALIGN: left;}
.oHting{OVERFLOW: hidden; WIDTH: 100%; TEXT-INDENT: 2px; LINE-HEIGHT: 24px; TEXT-ALIGN: left;}
.Zm {
	FLOAT: left
}
.Zmc {
	FLOAT: left
}
.Zmb {
	FLOAT: left
}
.Zms {
	FLOAT: left
}

.Zm{PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; HEIGHT: 100%;}
.Zmb{BACKGROUND-IMAGE: url(Zmg.gif); WIDTH: 523px; HEIGHT: 24px;}
.Zma{FONT-SIZE: 18px; BACKGROUND-IMAGE: url(Zm.gif); MARGIN: 0px 3px; WIDTH: 31px; COLOR: #fff; HEIGHT: 23px; TEXT-ALIGN: center;}
.Zmt{MARGIN: 0px 0px 0px 450px; WIDTH: 13px; HEIGHT: 23px;}
.Zms{WIDTH: 523px; HEIGHT: 100%;}
.Zmc{BACKGROUND: #f1f5f6; MARGIN: 1px 2px 0px 0px; OVERFLOW: hidden; WIDTH: 102px; LINE-HEIGHT: 23px; HEIGHT: 23px; TEXT-ALIGN: center;}
.oSw{FLOAT: left; OVERFLOW-X: hidden; OVERFLOW: scroll; WIDTH: 539px; HEIGHT: 165px;}
.oSw1{FLOAT: left; MARGIN: 10px; OVERFLOW: hidden; WIDTH: 500px; LINE-HEIGHT: 23px; TEXT-OVERFLOW: ellipsis;}
.oSpic{PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 9px; WIDTH: 122px; PADDING-TOP: 0px; HEIGHT: 152px;}
.oSpic IMG{MARGIN: 1px;}
.oSjl{WIDTH: 142px;}
.oSjr{MARGIN: 9px 0px 0px; WIDTH: 380px;}
.oSx{PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 9px; WIDTH: 124px; PADDING-TOP: 0px;}
.oSxl{PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 49%; PADDING-TOP: 0px;}
.oSxl2{PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 49%; PADDING-TOP: 0px; TEXT-ALIGN: right;}
.oSxr{PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 49%; PADDING-TOP: 0px;}
.oSj{PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 20px 0px 0px; WIDTH: 396px; PADDING-TOP: 0px;}
.oTx{PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; WIDTH: 80%; LINE-HEIGHT: 25px; PADDING-TOP: 0px; HEIGHT: 25px;}
.oTx1, .oTx2, .oTx3, .oTx4, .oTx5{PADDING-RIGHT: 0px; PADDING-LEFT: 24px; PADDING-BOTTOM: 0px; WIDTH: 60px; LINE-HEIGHT: 25px; PADDING-TOP: 0px; HEIGHT: 25px;}
.oTx1{BACKGROUND: url(oTx1.gif) no-repeat;}
.oTx2{BACKGROUND: url(oTx2.gif) no-repeat;}
.oTx3{BACKGROUND: url(oTx3.gif) no-repeat;}
.oTx4{BACKGROUND: url(oTx4.gif) no-repeat;}
.oTx5{BACKGROUND: url(oTx5.gif) no-repeat;}
.oTxk, .oTxkr{BORDER-RIGHT: #b5e6bf 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #b5e6bf 1px solid; PADDING-LEFT: 5px; BACKGROUND: url(oTxk.gif); PADDING-BOTTOM: 5px; MARGIN: 5px; BORDER-LEFT: #b5e6bf 1px solid; WIDTH: 240px; PADDING-TOP: 5px; BORDER-BOTTOM: #b5e6bf 1px solid; HEIGHT: 80px;}
.oTxks{FLOAT: left; WIDTH: 72px; HEIGHT: 84px;}
.oTxt{FLOAT: left; WIDTH: 165px; LINE-HEIGHT: 21px; HEIGHT: 21px;}
.oTxp{PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 6px 0px; WIDTH: 72px; PADDING-TOP: 0px; HEIGHT: 72px;}
.oTxp IMG{MARGIN: 1px;}
.oTxb{HEIGHT: 25px;}
.oTxs{MARGIN: 0px 0px 0px 10px; WIDTH: 45%;}
.oTxs1{WIDTH: 70%; LINE-HEIGHT: 23px;}
.oTxs2, .oTxs3{WIDTH: 13%; LINE-HEIGHT: 23px;}
.oTxc, .oMyt{WORD-BREAK: break-all; LINE-HEIGHT: 23px; HEIGHT: 100%;}
.oTxc{PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; OVERFLOW: auto; WORD-BREAK: break-all; PADDING-TOP: 0px;}
.oTxcg{BACKGROUND: #d2f5fa;}
.oTxcT{COLOR: #696f60;}
.oL{BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 9px; WIDTH: 521px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; heigth: 92px;}
.oL1{BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 9px; WIDTH: 355px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; heigth: 115px;}
.oLp{PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 72px; PADDING-TOP: 0px; HEIGHT: 72px;}
.oLp IMG{MARGIN: 1px;}
.oLi{BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 9px; WIDTH: 355px; PADDING-TOP: 0px; HEIGHT: 74px; BORDER-RIGHT-WIDTH: 0px;}
.oLi1{BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 9px; WIDTH: 189px; PADDING-TOP: 0px; HEIGHT: 74px; BORDER-RIGHT-WIDTH: 0px;}
.oLit{LINE-HEIGHT: 19px; HEIGHT: 19px;}
.oLb{BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; WIDTH: 74px; PADDING-TOP: 0px; HEIGHT: 74px; BORDER-RIGHT-WIDTH: 0px;}
.oLbb{HEIGHT: 25px;}
.oLy{MARGIN: 9px 0px 0px; WIDTH: 521px; COLOR: #cb6900; LINE-HEIGHT: 23px; HEIGHT: 23px;}
.oLy1{FLOAT: left; MARGIN: 9px 0px 0px; WIDTH: 355px; COLOR: #cb6900; LINE-HEIGHT: 23px; HEIGHT: 23px;}
.oM{BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 9px; WIDTH: 521px; PADDING-TOP: 0px; HEIGHT: 150px; BORDER-RIGHT-WIDTH: 0px;}
.oMp{PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 102px; PADDING-TOP: 0px; HEIGHT: 122px;}
.oMp IMG{MARGIN: 1px;}
.oMu{BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 9px; WIDTH: 250px; PADDING-TOP: 0px; HEIGHT: 125px; BORDER-RIGHT-WIDTH: 0px;}
.oMb{BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; WIDTH: 120px; PADDING-TOP: 0px; HEIGHT: 154px; BORDER-RIGHT-WIDTH: 0px;}
.oMb1, .oMb2, .oMb3{PADDING-RIGHT: 0px; PADDING-LEFT: 35px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; WIDTH: 68px; LINE-HEIGHT: 34px; PADDING-TOP: 0px; HEIGHT: 34px;}
.oMb1{BACKGROUND: url(B5.gif);}
.oMb2{BACKGROUND: url(B6.gif);}
.oMb3{BACKGROUND: url(B7.gif);}
.oMy{MARGIN: 9px 0px 0px; WIDTH: 521px;}
.oMyl{WIDTH: 151px;}
.oMyr{MARGIN: 9px 0px 0px; WIDTH: 370px;}
.oMyt{TEXT-INDENT: 2em;}
.platext{TEXT-INDENT: 2em;}
.oMt{WIDTH: 539px; HEIGHT: 25px;}
.oMbg1, .oMbg2, .oMbg22, .oMbg3, .oMbg4, .oMbg41, .oMbg5, .oMbg6, .oMbg7, .oMbg11,.oMbg8,.oMbg9{BACKGROUND: url(oMbg.gif); FLOAT: left; MARGIN: 0px 1px 0px 0px; OVERFLOW: hidden; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-OVERFLOW: ellipsis;}
.oMbg1, .oMs1{WIDTH: 46px; TEXT-ALIGN: center;}
.oMbg11{WIDTH: 48px; TEXT-ALIGN: center;}
.oMbg2{WIDTH: 209px; TEXT-ALIGN: left;}
.oMbg22, .oMs22{WIDTH: 210px; TEXT-ALIGN: left;}
.oMs2{WIDTH: 209px; TEXT-ALIGN: left;}
.oMbg3, .oMs3{WIDTH: 122px; TEXT-ALIGN: center;}
.oMbg4{WIDTH: 159px; TEXT-ALIGN: center;}
.oMs4{WIDTH: 161px; TEXT-ALIGN: left;}
.oMbg41{WIDTH: 414px; TEXT-ALIGN: center;}
.oMs41{WIDTH: 414px; TEXT-ALIGN: left;}
.oMs5, .oMbg5{WIDTH: 80px; TEXT-ALIGN: center;}
.oMs6, .oMbg6{WIDTH: 120px; TEXT-ALIGN: center;}
.oMbg7, .oMs7{WIDTH: 55px; TEXT-ALIGN: center;}
.oMbg8{WIDTH: 43px; TEXT-ALIGN: center;}
.oMbg9{WIDTH: 185px; TEXT-ALIGN: center;}
.oMs1, .oMs2, .oMs22, .oMs3, .oMs4, .oMs5, .oMs6, .oMs7, .oMs41{BACKGROUND: url(oMs.gif); FLOAT: left; MARGIN: 0px 1px 0px 0px; OVERFLOW: hidden; LINE-HEIGHT: 23px; HEIGHT: 23px; TEXT-OVERFLOW: ellipsis;}
#Play{WIDTH: 677px;}
.oPlay{MARGIN: 0px 5px; WIDTH: 667px;}
.ADplay{PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 4px 0px 0px; PADDING-TOP: 0px;}
.Lplay{BORDER-RIGHT: #91a7b4 1px solid; BORDER-TOP: #91a7b4 1px solid; MARGIN: 4px 0px 0px; BORDER-LEFT: #91a7b4 1px solid; LINE-HEIGHT: 25px; HEIGHT: 25px;}
.Bplay, .Bp, .Bpp{MARGIN: 4px 4px 0px; HEIGHT: 100%;}
.Bplay{WIDTH: 351px;}
.Bp{WIDTH: 349px;}
.Bpp{PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; WIDTH: 341px; PADDING-TOP: 4px;}
.Tplay{PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND-IMAGE: url(oT.gif); PADDING-BOTTOM: 0px; WIDTH: 655px; LINE-HEIGHT: 25px; PADDING-TOP: 0px; HEIGHT: 25px;}
.Tplay1{PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND-IMAGE: url(wZg67.gif); PADDING-BOTTOM: 0px; WIDTH: 655px; LINE-HEIGHT: 67px; PADDING-TOP: 0px; HEIGHT: 67px;}
.pl{MARGIN: 4px 4px 0px 0px; WIDTH: 359px;}
.pr{MARGIN: 4px 0px 0px; WIDTH: 300px; HEIGHT: 260px;}
.prword{MARGIN: 4px 0px 0px; WIDTH: 300px; HEIGHT: 24px; OVERFLOW: hidden;}
.Pad{WIDTH: 300px; HEIGHT: 327px;}
.pi, .pii, .pd{FLOAT: left; OVERFLOW: hidden; LINE-HEIGHT: 24px; HEIGHT: 24px; TEXT-ALIGN: center;}
.pig,{FLOAT: left; OVERFLOW: hidden; LINE-HEIGHT: 24px; HEIGHT: 24px; TEXT-ALIGN: center;}
.pi{WIDTH: 33%;}
.pii{PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px;}
.pd{WIDTH: 100%;}
.geci{OVERFLOW-X: hidden; MARGIN: 4px; OVERFLOW: scroll; WIDTH: 292px; LINE-HEIGHT: 21px; HEIGHT: 100px;}
.pnet{PADDING-RIGHT: 0px; PADDING-LEFT: 3px; BACKGROUND: #f1f5f6; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; HEIGHT: 23px;}
.Pinc{FLOAT: left; WIDTH: 19px; HEIGHT: 21px;}
.Pmusic{WIDTH: 300px;}
.Ptitle{FLOAT: left; OVERFLOW: hidden; WIDTH: 180px; HEIGHT: 21px; TEXT-OVERFLOW: ellipsis;}
.RK{BACKGROUND: #fff; WIDTH: 300px; HEIGHT: 100px;}
.Rgeci{MARGIN: 5px; WIDTH: 339px; LINE-HEIGHT: 21px; HEIGHT: 210px;}
.TopM{BACKGROUND: url(TopM.gif); WIDTH: 100%; HEIGHT: 58px;}
.TopL{BACKGROUND: url(TopL.gif); WIDTH: 156px; HEIGHT: 58px;}
.TopMenu{WIDTH: 602px; HEIGHT: 58px;}
.TopMenus{MARGIN: 4px 0px 4px 10px; WIDTH: 592px; LINE-HEIGHT: 21px; HEIGHT: 21px;}
.Top100{PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-TOP: 0px;}
.Toptitle{BACKGROUND-IMAGE: url(oTbr.gif); WIDTH: 65px; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-ALIGN: center;}
.Tops, .Topg, .Topk, .Topb, .Topz, .Topn, .Topo{FLOAT: left; OVERFLOW: hidden; LINE-HEIGHT: 24px; HEIGHT: 24px;}
.Topsea{FLOAT: left; OVERFLOW: hidden; LINE-HEIGHT: 24px; HEIGHT: 24px;}
.Tops{WIDTH: 19px;}
.Topg{WIDTH: 100px;}
.Topk{WIDTH: 50px;}
.Topb{WIDTH: 15px;}
.Topn{WIDTH: 30px;}
.Topo{MARGIN: 0px 0px 0px 10px; WIDTH: 200px;}
.Topsea{MARGIN: 0px 0px 0px 20px; WIDTH: 200px;}
.Top1T, .Top2T{FONT-WEIGHT: bold; FLOAT: left; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-ALIGN: center;}
.Top1T{BACKGROUND-IMAGE: url(oTbl.gif); WIDTH: 168px; COLOR: #359c00;}
.Top2T{BORDER-LEFT: #91a7b4 1px solid; WIDTH: 166px;}
.Top3T{BORDER-RIGHT: #bdede7 1px solid; BORDER-TOP: #bdede7 1px solid; BACKGROUND: #f0fffd; MARGIN: 5px; BORDER-LEFT: #bdede7 1px solid; WIDTH: 490px; LINE-HEIGHT: 20px; BORDER-BOTTOM: #bdede7 1px solid; HEIGHT: 20px;}
.Top4T{BORDER-RIGHT: #f1d7cf 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #f1d7cf 1px solid; PADDING-LEFT: 4px; BACKGROUND: #fff8f6; PADDING-BOTTOM: 4px; MARGIN: 5px; BORDER-LEFT: #f1d7cf 1px solid; WIDTH: 482px; LINE-HEIGHT: 21px; PADDING-TOP: 4px; BORDER-BOTTOM: #f1d7cf 1px solid; HEIGHT: 150px;}
.TopYZ{MARGIN: 0px 5px; WIDTH: 100px;}
.TopYZP, .TopYZN{PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 0px;}
.TopYZP{BACKGROUND: url(TopYZP.gif) no-repeat; WIDTH: 50px;}
.TopYZN{BACKGROUND: url(TopYZN.gif) no-repeat; WIDTH: 50px;}
.Topno1{WIDTH: 41px; HEIGHT: 100%;}
.TopNI{BACKGROUND: url(TopNI.gif); MARGIN: 0px 10px; WIDTH: 300px; HEIGHT: 100%;}
.TopNIF{FLOAT: left; WIDTH: 25px; HEIGHT: 21px;}
.TopNIT{FLOAT: left; WIDTH: 68px; HEIGHT: 21px;}
.TopPic{WIDTH: 120px; HEIGHT: 100%;}
.TopLeft{FLOAT: left; WIDTH: 300px;}
.TopList{BACKGROUND: #f1f5f6;}
.TopLists{BACKGROUND: url(Toplist.gif);}
.TopList, .TopLists{WIDTH: 100%; LINE-HEIGHT: 23px; HEIGHT: 23px;}
.TopSS, .TopName, .TopSName, .TopRName{FLOAT: left; OVERFLOW: hidden; HEIGHT: 23px; TEXT-ALIGN: center;}
.TopS5, .Top15, .Top60{FLOAT: left; OVERFLOW: hidden; HEIGHT: 23px; TEXT-ALIGN: center;}
.TopSS{WIDTH: 30px;}
.TopS5{WIDTH: 50%;}
.Top15{WIDTH: 15px;}
.Top60{MARGIN: 0px 5px; WIDTH: 55px;}
.TopName{MARGIN: 0px 5px; WIDTH: 172px;}
.TopRName{WIDTH: 102px;}
.TopSName{WIDTH: 80px;}
.TopNox{BORDER-RIGHT: #ffa800 1px solid; BORDER-TOP: #ffa800 1px solid; BACKGROUND: #fff8cb; MARGIN: 2px 0px; BORDER-LEFT: #ffa800 1px solid; WIDTH: 26px; LINE-HEIGHT: 15px; BORDER-BOTTOM: #ffa800 1px solid; HEIGHT: 15px;}
.disc{FLOAT: left; WIDTH: 382px; HEIGHT: auto;}
.changpian{MARGIN: 5px; WIDTH: 97%; WORD-BREAK: break-all; LINE-HEIGHT: 17px; HEIGHT: 210px;}
.changpian IMG{BORDER-RIGHT: #ffa800 1px solid; BORDER-TOP: #ffa800 1px solid; FLOAT: right; MARGIN: 10px; BORDER-LEFT: #ffa800 1px solid; BORDER-BOTTOM: #ffa800 1px solid;}
.cpmore{WIDTH: 99%; TEXT-ALIGN: right;}
.placard{LINE-HEIGHT: 25px; HEIGHT: 25px;}
.platext{MARGIN: 20px; WIDTH: 94%; LINE-HEIGHT: 23px;}
.platitle{MARGIN: 20px; WIDTH: 94%; LINE-HEIGHT: 23px;}
.platext IMG{BORDER-RIGHT: #ffa800 1px solid; BORDER-TOP: #ffa800 1px solid; FLOAT: right; MARGIN: 5px; BORDER-LEFT: #ffa800 1px solid; BORDER-BOTTOM: #ffa800 1px solid;}
.platitle{FONT-WEIGHT: bold; FONT-SIZE: 14px; BORDER-BOTTOM: #ff9900 1px solid; TEXT-ALIGN: center;}
#er{BACKGROUND: #fff; MARGIN: 0px auto; WIDTH: 342px; HEIGHT: 152px;}
.errer{FONT-WEIGHT: bold; BACKGROUND: url(errer.gif) no-repeat; MARGIN: 0px auto; WIDTH: 200px; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-ALIGN: center;}
.erinput{MARGIN: 2px 0px 0px; LINE-HEIGHT: 23px; HEIGHT: 23px; TEXT-ALIGN: center;}
.ertext{MARGIN: 10px 0px 0px 10px; LINE-HEIGHT: 23px; HEIGHT: 23px; TEXT-ALIGN: left;}
.erbotton{MARGIN: 10px 0px 0px; LINE-HEIGHT: 23px; HEIGHT: 23px; TEXT-ALIGN: center;}
#gecier{BACKGROUND: #fff; MARGIN: 0px auto; WIDTH: 400px; HEIGHT: 300px;}
.lrc{PADDING-RIGHT: 5px; OVERFLOW-Y: scroll; PADDING-LEFT: 5px; OVERFLOW-X: hidden; PADDING-BOTTOM: 5px; MARGIN: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 5px; HEIGHT: 180px;}
A.keyL:link{COLOR: #583a00;}
A.keyL:visited{COLOR: #583a00;}
A.keyL:hover{COLOR: #f80;}
A.keyL:active{COLOR: #583a00;}
.keyL, .keyR{MARGIN: 0px 0px 0px 2px; OVERFLOW: hidden; LINE-HEIGHT: 24px; HEIGHT: 24px; TEXT-OVERFLOW: ellipsis;}
.keyL{FLOAT: left; WIDTH: 96px;}
.keyR{FLOAT: left; WIDTH: 80px;}
.keys{WIDTH: 120px;}
.sl{}
.ss{BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 22px; BORDER-RIGHT-WIDTH: 1px;}
.gv_wait{top:30%; left: 40%; visibility: hidden; position: absolute;text-align: center; background:#EFF8FE;padding:5px 20px 5px 20px;filter: alpha(opacity=70);}
.gv_wait img{filter: alpha(opacity=100);}
.gv_wait {border: #91A7B4 1px solid;}
.hide{height:0;line-height:0px;display:none; overflow: hidden;}